In [1]:
%tensorflow_version 2.x

TensorFlow 2.x selected.

TensorFlow is already loaded. Please restart the runtime to change versions.

In [0]:
from sklearn import datasets
import numpy as np
import pandas as pd
import io
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns;

import warnings
warnings.filterwarnings("ignore")

In [5]:
from google.colab import files
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

In [0]:
import io
bankDF=pd.read_csv(io.BytesIO(uploaded['Churn_Modelling.csv']))

In [36]:
bankDF.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [15]:
bankDF.shape

(10000, 14)

In [0]:
bankDF=bankDF.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [17]:
bankDF.describe()

        CreditScore           Age  ...  EstimatedSalary        Exited
count  10000.000000  10000.000000  ...     10000.000000  10000.000000
mean     650.528800     38.921800  ...    100090.239881      0.203700
std       96.653299     10.487806  ...     57510.492818      0.402769
min      350.000000     18.000000  ...        11.580000      0.000000
25%      584.000000     32.000000  ...     51002.110000      0.000000
50%      652.000000     37.000000  ...    100193.915000      0.000000
75%      718.000000     44.000000  ...    149388.247500      0.000000
max      850.000000     92.000000  ...    199992.480000      1.000000

[8 rows x 9 columns]

In [19]:
bankDF.isnull().count()

CreditScore        10000
Geography          10000
Gender             10000
Age                10000
Tenure             10000
Balance            10000
NumOfProducts      10000
HasCrCard          10000
IsActiveMember     10000
EstimatedSalary    10000
Exited             10000
dtype: int64

In [20]:
bankDF.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [0]:
XDF = pd.get_dummies(bankDF, prefix_sep='_')

In [430]:
XDF['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [43]:
XDF.head()

   CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0          619   42       2  ...                0              1            0
1          608   41       1  ...                1              1            0
2          502   42       8  ...                0              1            0
3          699   39       1  ...                0              1            0
4          850   43       2  ...                1              1            0

[5 rows x 14 columns]

In [0]:
x=XDF.drop('Exited',axis=1)
y=pd.DataFrame(XDF['Exited'],columns=['Exited'])

In [79]:
x.shape

(10000, 13)

In [80]:
y.head()

   Exited
0       1
1       0
2       1
3       0
4       0

In [0]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20,random_state=1)

In [0]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  # z-scalar
scaler.fit(X_train) # Compute the mean and std to be used for later scaling.

X_train = scaler.transform(X_train)  # scales the data, Perform standardization by centering and scaling
X_test = scaler.transform(X_test)

In [306]:
X_train.shape

(8000, 13)

In [307]:
y_train.shape

(8000, 1)

In [0]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()

In [0]:
y_train = pd.DataFrame(onehotencoder.fit_transform(y_train).toarray())
y_test = pd.DataFrame(onehotencoder.fit_transform(y_test).toarray())

In [0]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [0]:
def leaky_relu(x):
    return tf.nn.leaky_relu(x, alpha=0.4)

In [0]:
epochs=40
learning_rate = 0.1
decay_rate = learning_rate / epochs
momentum = 0.3

sgd = tf.keras.optimizers.SGD(lr=learning_rate, momentum=momentum, decay=decay_rate, nesterov=False)

In [0]:
model = Sequential()

In [0]:
model.add(Dense(13, activation=leaky_relu, input_shape=(13,)))
model.add(Dense(13, activation=leaky_relu))
model.add(Dense(13, activation=leaky_relu))
model.add(Dense(2,activation='softmax'))

In [0]:
model.compile(loss='categorical_crossentropy',optimizer=sgd,metrics=['accuracy'])

In [359]:
len(model.layers)

4

In [360]:
model.summary()

Model: "sequential_43"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_154 (Dense)            (None, 13)                182
_________________________________________________________________
dense_155 (Dense)            (None, 13)                182
_________________________________________________________________
dense_156 (Dense)            (None, 13)                182
_________________________________________________________________
dense_157 (Dense)            (None, 2)                 28
=================================================================
Total params: 574
Trainable params: 574
Non-trainable params: 0
_________________________________________________________________

In [361]:
model.fit(X_train,y_train,epochs=100,validation_data=(X_test,y_test))

Train on 8000 samples, validate on 2000 samples
Epoch 1/100
8000/8000 [==============================] - 1s 99us/sample - loss: 0.4467 - accuracy: 0.8041 - val_loss: 0.4195 - val_accuracy: 0.8095
Epoch 2/100
8000/8000 [==============================] - 0s 54us/sample - loss: 0.4203 - accuracy: 0.8173 - val_loss: 0.4084 - val_accuracy: 0.8230
Epoch 3/100
8000/8000 [==============================] - 0s 58us/sample - loss: 0.4059 - accuracy: 0.8263 - val_loss: 0.3967 - val_accuracy: 0.8325
Epoch 4/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3896 - accuracy: 0.8359 - val_loss: 0.3783 - val_accuracy: 0.8440
Epoch 5/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3726 - accuracy: 0.8447 - val_loss: 0.3621 - val_accuracy: 0.8495
Epoch 6/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3618 - accuracy: 0.8505 - val_loss: 0.3551 - val_accuracy: 0.8600
Epoch 7/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3560 - accuracy: 0.8550 - val_loss: 0.3524 - val_accuracy: 0.8600
Epoch 8/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3520 - accuracy: 0.8558 - val_loss: 0.3483 - val_accuracy: 0.8600
Epoch 9/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3500 - accuracy: 0.8556 - val_loss: 0.3471 - val_accuracy: 0.8585
Epoch 10/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3485 - accuracy: 0.8564 - val_loss: 0.3443 - val_accuracy: 0.8630
Epoch 11/100
8000/8000 [==============================] - 0s 59us/sample - loss: 0.3469 - accuracy: 0.8591 - val_loss: 0.3450 - val_accuracy: 0.8625
Epoch 12/100
8000/8000 [==============================] - 0s 57us/sample - loss: 0.3462 - accuracy: 0.8585 - val_loss: 0.3440 - val_accuracy: 0.8600
Epoch 13/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3449 - accuracy: 0.8577 - val_loss: 0.3434 - val_accuracy: 0.8610
Epoch 14/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3445 - accuracy: 0.8585 - val_loss: 0.3436 - val_accuracy: 0.8625
Epoch 15/100
8000/8000 [==============================] - 0s 58us/sample - loss: 0.3440 - accuracy: 0.8580 - val_loss: 0.3412 - val_accuracy: 0.8630
Epoch 16/100
8000/8000 [==============================] - 0s 59us/sample - loss: 0.3430 - accuracy: 0.8611 - val_loss: 0.3409 - val_accuracy: 0.8650
Epoch 17/100
8000/8000 [==============================] - 0s 61us/sample - loss: 0.3429 - accuracy: 0.8591 - val_loss: 0.3404 - val_accuracy: 0.8625
Epoch 18/100
8000/8000 [==============================] - 0s 60us/sample - loss: 0.3416 - accuracy: 0.8591 - val_loss: 0.3424 - val_accuracy: 0.8635
Epoch 19/100
8000/8000 [==============================] - 0s 61us/sample - loss: 0.3419 - accuracy: 0.8602 - val_loss: 0.3396 - val_accuracy: 0.8650
Epoch 20/100
8000/8000 [==============================] - 0s 60us/sample - loss: 0.3419 - accuracy: 0.8583 - val_loss: 0.3387 - val_accuracy: 0.8650
Epoch 21/100
8000/8000 [==============================] - 1s 64us/sample - loss: 0.3412 - accuracy: 0.8575 - val_loss: 0.3395 - val_accuracy: 0.8645
Epoch 22/100
8000/8000 [==============================] - 0s 60us/sample - loss: 0.3406 - accuracy: 0.8601 - val_loss: 0.3388 - val_accuracy: 0.8640
Epoch 23/100
8000/8000 [==============================] - 0s 60us/sample - loss: 0.3406 - accuracy: 0.8596 - val_loss: 0.3377 - val_accuracy: 0.8660
Epoch 24/100
8000/8000 [==============================] - 1s 64us/sample - loss: 0.3401 - accuracy: 0.8605 - val_loss: 0.3377 - val_accuracy: 0.8625
Epoch 25/100
8000/8000 [==============================] - 0s 60us/sample - loss: 0.3398 - accuracy: 0.8605 - val_loss: 0.3391 - val_accuracy: 0.8665
Epoch 26/100
8000/8000 [==============================] - 1s 63us/sample - loss: 0.3396 - accuracy: 0.8615 - val_loss: 0.3403 - val_accuracy: 0.8625
Epoch 27/100
8000/8000 [==============================] - 0s 60us/sample - loss: 0.3396 - accuracy: 0.8604 - val_loss: 0.3379 - val_accuracy: 0.8625
Epoch 28/100
8000/8000 [==============================] - 1s 63us/sample - loss: 0.3394 - accuracy: 0.8619 - val_loss: 0.3368 - val_accuracy: 0.8655
Epoch 29/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3391 - accuracy: 0.8611 - val_loss: 0.3372 - val_accuracy: 0.8605
Epoch 30/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3388 - accuracy: 0.8612 - val_loss: 0.3363 - val_accuracy: 0.8645
Epoch 31/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3387 - accuracy: 0.8614 - val_loss: 0.3373 - val_accuracy: 0.8630
Epoch 32/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3382 - accuracy: 0.8621 - val_loss: 0.3374 - val_accuracy: 0.8625
Epoch 33/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3382 - accuracy: 0.8614 - val_loss: 0.3367 - val_accuracy: 0.8645
Epoch 34/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3381 - accuracy: 0.8616 - val_loss: 0.3369 - val_accuracy: 0.8640
Epoch 35/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3375 - accuracy: 0.8630 - val_loss: 0.3364 - val_accuracy: 0.8640
Epoch 36/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3376 - accuracy: 0.8627 - val_loss: 0.3354 - val_accuracy: 0.8645
Epoch 37/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3374 - accuracy: 0.8633 - val_loss: 0.3357 - val_accuracy: 0.8655
Epoch 38/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3374 - accuracy: 0.8637 - val_loss: 0.3356 - val_accuracy: 0.8645
Epoch 39/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3374 - accuracy: 0.8624 - val_loss: 0.3356 - val_accuracy: 0.8610
Epoch 40/100
8000/8000 [==============================] - 0s 53us/sample - loss: 0.3371 - accuracy: 0.8643 - val_loss: 0.3349 - val_accuracy: 0.8635
Epoch 41/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3369 - accuracy: 0.8629 - val_loss: 0.3371 - val_accuracy: 0.8640
Epoch 42/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3365 - accuracy: 0.8643 - val_loss: 0.3356 - val_accuracy: 0.8645
Epoch 43/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3367 - accuracy: 0.8621 - val_loss: 0.3378 - val_accuracy: 0.8625
Epoch 44/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3366 - accuracy: 0.8611 - val_loss: 0.3352 - val_accuracy: 0.8645
Epoch 45/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3363 - accuracy: 0.8644 - val_loss: 0.3360 - val_accuracy: 0.8630
Epoch 46/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3363 - accuracy: 0.8636 - val_loss: 0.3342 - val_accuracy: 0.8665
Epoch 47/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3359 - accuracy: 0.8633 - val_loss: 0.3354 - val_accuracy: 0.8650
Epoch 48/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3361 - accuracy: 0.8634 - val_loss: 0.3349 - val_accuracy: 0.8630
Epoch 49/100
8000/8000 [==============================] - 0s 57us/sample - loss: 0.3357 - accuracy: 0.8627 - val_loss: 0.3349 - val_accuracy: 0.8655
Epoch 50/100
8000/8000 [==============================] - 0s 52us/sample - loss: 0.3359 - accuracy: 0.8644 - val_loss: 0.3350 - val_accuracy: 0.8660
Epoch 51/100
8000/8000 [==============================] - 0s 54us/sample - loss: 0.3356 - accuracy: 0.8636 - val_loss: 0.3348 - val_accuracy: 0.8645
Epoch 52/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3356 - accuracy: 0.8630 - val_loss: 0.3362 - val_accuracy: 0.8645
Epoch 53/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3358 - accuracy: 0.8637 - val_loss: 0.3348 - val_accuracy: 0.8665
Epoch 54/100
8000/8000 [==============================] - 0s 58us/sample - loss: 0.3353 - accuracy: 0.8622 - val_loss: 0.3344 - val_accuracy: 0.8665
Epoch 55/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3353 - accuracy: 0.8629 - val_loss: 0.3344 - val_accuracy: 0.8645
Epoch 56/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3352 - accuracy: 0.8631 - val_loss: 0.3346 - val_accuracy: 0.8670
Epoch 57/100
8000/8000 [==============================] - 0s 57us/sample - loss: 0.3353 - accuracy: 0.8635 - val_loss: 0.3345 - val_accuracy: 0.8670
Epoch 58/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3350 - accuracy: 0.8633 - val_loss: 0.3349 - val_accuracy: 0.8635
Epoch 59/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3350 - accuracy: 0.8644 - val_loss: 0.3341 - val_accuracy: 0.8655
Epoch 60/100
8000/8000 [==============================] - 0s 54us/sample - loss: 0.3347 - accuracy: 0.8649 - val_loss: 0.3341 - val_accuracy: 0.8645
Epoch 61/100
8000/8000 [==============================] - 0s 54us/sample - loss: 0.3348 - accuracy: 0.8637 - val_loss: 0.3340 - val_accuracy: 0.8660
Epoch 62/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3350 - accuracy: 0.8633 - val_loss: 0.3340 - val_accuracy: 0.8650
Epoch 63/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3348 - accuracy: 0.8640 - val_loss: 0.3340 - val_accuracy: 0.8655
Epoch 64/100
8000/8000 [==============================] - 0s 58us/sample - loss: 0.3348 - accuracy: 0.8630 - val_loss: 0.3337 - val_accuracy: 0.8665
Epoch 65/100
8000/8000 [==============================] - 0s 54us/sample - loss: 0.3346 - accuracy: 0.8646 - val_loss: 0.3335 - val_accuracy: 0.8640
Epoch 66/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3344 - accuracy: 0.8637 - val_loss: 0.3343 - val_accuracy: 0.8645
Epoch 67/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3341 - accuracy: 0.8643 - val_loss: 0.3346 - val_accuracy: 0.8650
Epoch 68/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3343 - accuracy: 0.8629 - val_loss: 0.3337 - val_accuracy: 0.8660
Epoch 69/100
8000/8000 [==============================] - 0s 57us/sample - loss: 0.3342 - accuracy: 0.8631 - val_loss: 0.3342 - val_accuracy: 0.8670
Epoch 70/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3343 - accuracy: 0.8637 - val_loss: 0.3339 - val_accuracy: 0.8665
Epoch 71/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3341 - accuracy: 0.8636 - val_loss: 0.3343 - val_accuracy: 0.8685
Epoch 72/100
8000/8000 [==============================] - 0s 57us/sample - loss: 0.3340 - accuracy: 0.8635 - val_loss: 0.3341 - val_accuracy: 0.8660
Epoch 73/100
8000/8000 [==============================] - 0s 59us/sample - loss: 0.3341 - accuracy: 0.8636 - val_loss: 0.3339 - val_accuracy: 0.8660
Epoch 74/100
8000/8000 [==============================] - 0s 53us/sample - loss: 0.3337 - accuracy: 0.8639 - val_loss: 0.3344 - val_accuracy: 0.8650
Epoch 75/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3341 - accuracy: 0.8633 - val_loss: 0.3336 - val_accuracy: 0.8655
Epoch 76/100
8000/8000 [==============================] - 0s 54us/sample - loss: 0.3339 - accuracy: 0.8641 - val_loss: 0.3337 - val_accuracy: 0.8655
Epoch 77/100
8000/8000 [==============================] - 0s 54us/sample - loss: 0.3339 - accuracy: 0.8639 - val_loss: 0.3339 - val_accuracy: 0.8670
Epoch 78/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3338 - accuracy: 0.8651 - val_loss: 0.3334 - val_accuracy: 0.8650
Epoch 79/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3335 - accuracy: 0.8645 - val_loss: 0.3335 - val_accuracy: 0.8655
Epoch 80/100
8000/8000 [==============================] - 0s 58us/sample - loss: 0.3336 - accuracy: 0.8645 - val_loss: 0.3335 - val_accuracy: 0.8650
Epoch 81/100
8000/8000 [==============================] - 0s 58us/sample - loss: 0.3336 - accuracy: 0.8645 - val_loss: 0.3332 - val_accuracy: 0.8645
Epoch 82/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3334 - accuracy: 0.8633 - val_loss: 0.3337 - val_accuracy: 0.8665
Epoch 83/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3335 - accuracy: 0.8633 - val_loss: 0.3332 - val_accuracy: 0.8660
Epoch 84/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3334 - accuracy: 0.8637 - val_loss: 0.3330 - val_accuracy: 0.8660
Epoch 85/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3332 - accuracy: 0.8640 - val_loss: 0.3338 - val_accuracy: 0.8660
Epoch 86/100
8000/8000 [==============================] - 0s 54us/sample - loss: 0.3333 - accuracy: 0.8644 - val_loss: 0.3334 - val_accuracy: 0.8670
Epoch 87/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3334 - accuracy: 0.8637 - val_loss: 0.3334 - val_accuracy: 0.8655
Epoch 88/100
8000/8000 [==============================] - 0s 58us/sample - loss: 0.3332 - accuracy: 0.8641 - val_loss: 0.3331 - val_accuracy: 0.8650
Epoch 89/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3331 - accuracy: 0.8633 - val_loss: 0.3332 - val_accuracy: 0.8655
Epoch 90/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3330 - accuracy: 0.8641 - val_loss: 0.3333 - val_accuracy: 0.8680
Epoch 91/100
8000/8000 [==============================] - 0s 59us/sample - loss: 0.3331 - accuracy: 0.8641 - val_loss: 0.3328 - val_accuracy: 0.8655
Epoch 92/100
8000/8000 [==============================] - 0s 57us/sample - loss: 0.3330 - accuracy: 0.8641 - val_loss: 0.3328 - val_accuracy: 0.8660
Epoch 93/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3326 - accuracy: 0.8650 - val_loss: 0.3336 - val_accuracy: 0.8655
Epoch 94/100
8000/8000 [==============================] - 0s 57us/sample - loss: 0.3330 - accuracy: 0.8634 - val_loss: 0.3328 - val_accuracy: 0.8665
Epoch 95/100
8000/8000 [==============================] - 0s 58us/sample - loss: 0.3329 - accuracy: 0.8635 - val_loss: 0.3329 - val_accuracy: 0.8650
Epoch 96/100
8000/8000 [==============================] - 0s 60us/sample - loss: 0.3328 - accuracy: 0.8639 - val_loss: 0.3331 - val_accuracy: 0.8670
Epoch 97/100
8000/8000 [==============================] - 0s 55us/sample - loss: 0.3328 - accuracy: 0.8646 - val_loss: 0.3332 - val_accuracy: 0.8650
Epoch 98/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3328 - accuracy: 0.8646 - val_loss: 0.3328 - val_accuracy: 0.8660
Epoch 99/100
8000/8000 [==============================] - 0s 54us/sample - loss: 0.3328 - accuracy: 0.8637 - val_loss: 0.3328 - val_accuracy: 0.8655
Epoch 100/100
8000/8000 [==============================] - 0s 56us/sample - loss: 0.3326 - accuracy: 0.8637 - val_loss: 0.3329 - val_accuracy: 0.8665

In [362]:
score=model.evaluate(X_test,y_test)

2000/2000 [==============================] - 0s 40us/sample - loss: 0.3329 - accuracy: 0.8665

In [363]:
score

[0.33293636202812193, 0.8665]

In [0]:
y_pred=model.predict(X_test)

In [0]:
y_pred[:,1] = (y_pred[:,1] >= 0.5).astype(int)
y_pred[:,0] = (y_pred[:,0] >= 0.5).astype(int)

In [0]:
df=pd.DataFrame(y_pred,columns=['Exited','Non-Exited'])

In [416]:
df.head()

   Exited  Non-Exited
0     1.0         0.0
1     1.0         0.0
2     1.0         0.0
3     1.0         0.0
4     1.0         0.0

In [417]:
df['Exited'].unique()

array([1., 0.])

In [418]:
df['Non-Exited'].unique()

array([0., 1.])

In [0]:
y_actual=y_test[:][0]
y_predict=df['Exited']

In [0]:
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

In [427]:
results = confusion_matrix(y_actual, y_predict) 
print('Confusion Matrix :')
print(results) 
print('Accuracy Score :',accuracy_score(y_actual, y_predict) )
print('Report : ')
print(classification_report(y_actual, y_predict) )

Confusion Matrix :
[[ 208  207]
 [  60 1525]]
Accuracy Score : 0.8665
Report :
              precision    recall  f1-score   support

         0.0       0.78      0.50      0.61       415
         1.0       0.88      0.96      0.92      1585

    accuracy                           0.87      2000
   macro avg       0.83      0.73      0.76      2000
weighted avg       0.86      0.87      0.86      2000

In [435]:
y_actual.value_counts()

1.0    1585
0.0     415
Name: 0, dtype: int64

we have an accuracy score of 86.65%, loss of 33.2% .