# Project-1 | Statistical Learning

 Submitted by zain khan

In [113]:
import numpy as np
import pandas as pd

## 1.Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [114]:
laligaD=pd.read_csv("Laliga.csv")
laligaDF=pd.DataFrame(laligaD)
laligaDF=laligaDF.replace(regex=[r'\-[0-9]+',r'\-'], value=['','0'])
laligaDF=laligaDF.astype({'Debut': 'int32','Points': 'int32','GoalsAgainst':'int32','GoalsFor':'int32','GamesWon':'int32','GamesPlayed':'int32'},inplace=True)
laligaDF
#laligaDF.dtypes

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934,2001,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939,2012,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932,2015,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941,2014,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939,2012,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948,2013,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944,2015,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935,2016,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949,2008,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933,2000,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960,2012,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951,2015,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998,2013,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941,2016,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977,2015,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959,2014,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004,2015,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935,2010,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961,2009,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940,2007,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930,2016,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963,2015,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943,1987,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977,2005,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987,1996,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941,1990,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991,2004,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007,2014,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962,2014,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994,1997,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978,2008,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971,1979,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963,1969,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999,2008,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014,2014,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990,1992,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947,2006,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996,1998,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995,1997,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945,1950,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953,1957,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979,1980,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950,1993,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016,2016,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009,2009,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956,1956,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951,1951,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955,1955,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017,2017,9

## 2.Print all the teams which have started playing between 1930-1980.

In [115]:
laligaDF[(laligaDF["Debut"]>1930) & (laligaDF["Debut"]<1980)]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934,2001,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939,2012,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932,2015,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941,2014,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939,2012,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948,2013,4
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944,2015,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935,2016,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949,2008,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933,2000,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960,2012,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951,2015,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941,2016,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977,2015,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959,2014,5
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935,2010,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961,2009,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940,2007,11
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963,2015,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,0,1974,1998,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943,1987,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977,2005,12
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941,1990,4
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962,2014,5
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978,2008,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971,1979,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963,1969,7
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947,2006,7
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945,1950,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953,1957,14
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979,1980,10
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950,1993,16
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956,1956,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951,1951,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955,1955,15

## 3.Print the list of teams which came Top 5 in terms of points

In [116]:
laligaDF.sort_values(by=["Points"],axis=0,ascending=False).head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

## 4.Write a function with name â€œGoal_diff_countâ€ which should 
     4a. return all the teams with their Goal Differences. 
     4b. Using the same function, find the team which has maximum and minimum goal difference. 
<p>Goal_diff_count = GoalsFor - GoalsAgainst</p>

### 4a. Goal Differences

In [127]:
def Goal_diff_count(min_max):
    if min_max==False:
        for row in laligaDF.iterrows():
            print('Team ',row[1]['Team'],"\n \t Goal For ",row[1]['GoalsFor']," \t Goals Against ",row[1]['GoalsAgainst'],' \t Difference ',row[1]['GoalsFor']-row[1]['GoalsAgainst'])   
    if min_max==True:
        laligaDF['GF_GA_Diff']=laligaDF['GoalsFor']-laligaDF['GoalsAgainst']
        print('minimum goal difference ',laligaDF['GF_GA_Diff'].min(),'\nmaximum goal difference ',laligaDF['GF_GA_Diff'].max())

Goal_diff_count(False)  


#laligaDF.dtype

Team  Real Madrid
 	 Goal For  5947  	 Goals Against  3140  	 Difference  2807
Team  Barcelona
 	 Goal For  5900  	 Goals Against  3114  	 Difference  2786
Team  Atletico Madrid
 	 Goal For  4534  	 Goals Against  3309  	 Difference  1225
Team  Valencia
 	 Goal For  4398  	 Goals Against  3469  	 Difference  929
Team  Athletic Bilbao
 	 Goal For  4631  	 Goals Against  3700  	 Difference  931
Team  Sevilla
 	 Goal For  3680  	 Goals Against  3373  	 Difference  307
Team  Espanyol
 	 Goal For  3609  	 Goals Against  3889  	 Difference  -280
Team  Real Sociedad
 	 Goal For  3228  	 Goals Against  3230  	 Difference  -2
Team  Zaragoza
 	 Goal For  2683  	 Goals Against  2847  	 Difference  -164
Team  Real Betis
 	 Goal For  2159  	 Goals Against  2492  	 Difference  -333
Team  Deportivo La Coruna
 	 Goal For  2052  	 Goals Against  2188  	 Difference  -136
Team  Celta Vigo
 	 Goal For  2278  	 Goals Against  2624  	 Difference  -346
Team  Valladolid
 	 Goal For  1767  	 Goals Against  2180  	 Difference  -413
Team  Racing Santander
 	 Goal For  1843  	 Goals Against  2368  	 Difference  -525
Team  Sporting Gijon
 	 Goal For  1753  	 Goals Against  2152  	 Difference  -399
Team  Osasuna
 	 Goal For  1500  	 Goals Against  1834  	 Difference  -334
Team  Malaga
 	 Goal For  1421  	 Goals Against  1763  	 Difference  -342
Team  Oviedo
 	 Goal For  1642  	 Goals Against  1951  	 Difference  -309
Team  Mallorca
 	 Goal For  1182  	 Goals Against  1371  	 Difference  -189
Team  Las Palmas
 	 Goal For  1347  	 Goals Against  1746  	 Difference  -399
Team  Villarreal
 	 Goal For  892  	 Goals Against  789  	 Difference  103
Team  Granada
 	 Goal For  819  	 Goals Against  1157  	 Difference  -338
Team  Rayo Vallecano
 	 Goal For  760  	 Goals Against  1088  	 Difference  -328
Team  Elche
 	 Goal For  750  	 Goals Against  1022  	 Difference  -272
Team  Getafe
 	 Goal For  520  	 Goals Against  633  	 Difference  -113
Team  Hercules
 	 Goal For  716  	 Goals Against  1050  	 Difference  -334
Team  Tenerife
 	 Goal For  619  	 Goals Against  744  	 Difference  -125
Team  Murcia
 	 Goal For  607  	 Goals Against  992  	 Difference  -385
Team  Alaves
 	 Goal For  458  	 Goals Against  623  	 Difference  -165
Team  Levante
 	 Goal For  430  	 Goals Against  632  	 Difference  -202
Team  Salamanca
 	 Goal For  422  	 Goals Against  581  	 Difference  -159
Team  Sabadell
 	 Goal For  492  	 Goals Against  720  	 Difference  -228
Team  Cadiz
 	 Goal For  393  	 Goals Against  662  	 Difference  -269
Team  Logrones
 	 Goal For  291  	 Goals Against  489  	 Difference  -198
Team  Castellon
 	 Goal For  419  	 Goals Against  588  	 Difference  -169
Team  Albacete
 	 Goal For  320  	 Goals Against  410  	 Difference  -90
Team  Almeria
 	 Goal For  244  	 Goals Against  366  	 Difference  -122
Team  Cordoba
 	 Goal For  285  	 Goals Against  430  	 Difference  -145
Team  Compostela
 	 Goal For  199  	 Goals Against  241  	 Difference  -42
Team  Recreativo
 	 Goal For  202  	 Goals Against  296  	 Difference  -94
Team  Burgos CF
 	 Goal For  216  	 Goals Against  310  	 Difference  -94
Team  Pontevedra
 	 Goal For  165  	 Goals Against  221  	 Difference  -56
Team  Numancia
 	 Goal For  155  	 Goals Against  253  	 Difference  -98
Team  Eibar
 	 Goal For  139  	 Goals Against  167  	 Difference  -28
Team  Arenas
 	 Goal For  227  	 Goals Against  308  	 Difference  -81
Team  Real Burgos
 	 Goal For  101  	 Goals Against  139  	 Difference  -38
Team  Gimnastic
 	 Goal For  181  	 Goals Against  295  	 Difference  -114
Team  Extremadura
 	 Goal For  62  	 Goals Against  117  	 Difference  -55
Team  Merida
 	 Goal For  70  	 Goals Against  115  	 Difference  -45
Team  Alcoyano
 	 Goal For  145  	 Goals Against  252  	 Difference  -107
Team  Jaen
 	 Goal For  121  	 Goals Against  183  	 Difference  -62
Team  Real Union
 	 Goal For  153  	 Goals Against  184  	 Difference  -31
Team  AD Almeria
 	 Goal For  71  	 Goals Against  116  	 Difference  -45
Team  Europa
 	 Goal For  97  	 Goals Against  131  	 Difference  -34
Team  Lleida
 	 Goal For  70  	 Goals Against  182  	 Difference  -112
Team  Leganes
 	 Goal For  36  	 Goals Against  55  	 Difference  -19
Team  Xerez
 	 Goal For  38  	 Goals Against  66  	 Difference  -28
Team  Condal
 	 Goal For  37  	 Goals Against  57  	 Difference  -20
Team  Atletico Tetuan
 	 Goal For  51  	 Goals Against  85  	 Difference  -34
Team  Cultural Leonesa
 	 Goal For  34  	 Goals Against  65  	 Difference  -31
Team  Girona
 	 Goal For  0  	 Goals Against  0  	 Difference  0

###  4b.maximum and minimum goal difference

In [128]:
Goal_diff_count(True)

minimum goal difference  -525
maximum goal difference  2807

## 5.Create a new column with name â€œWinning Percentâ€ and append it to the data set (5 points)
 5a.Percentage of Winning = (GamesWon / GamesPlayed)*100,If there are any numerical error, replace it with 0%

 5b.Print the top 5 teams which has the highest Winning percentage

### 5a.Percentage of Winning = (GamesWon / GamesPlayed)*100,If there are any numerical error,replace it with 0%

In [119]:
laligaDF['Winning Percent']=(laligaDF['GamesWon']/laligaDF['GamesPlayed'])*100
laligaDF['Winning Percent'].fillna(0,inplace=True)

### 5b.Print the top 5 teams which has the highest Winning percentag

In [120]:
laligaDF.sort_values(by=['Winning Percent'],axis=0,ascending=False).head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,GF_GA_Diff,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002,1,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987,1,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629

## 6.Group teams based on their â€œBest positionâ€ and print the sum of their points for all position

In [121]:
 laligaDF.groupby(by=['BestPosition'],as_index=False).agg({'Points':'sum'})

    BestPosition  Points
0              1   27933
1              2    6904
2              3    5221
3              4    6563
4              5    1884
5              6    2113
6              7    1186
7              8    1134
8              9      96
9             10     450
10            11     445
11            12     511
12            14      71
13            15      14
14            16      81
15            17     266
16            19      81
17            20      34